@page "/add"

<h3>Add</h3>

<EditForm Model="@itemModel" >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="name">
            Name:
            <InputText id="name" @bind-Value="itemModel.Name" />
        </label>
    </p>
    <p>
        <label for="stack-size">
            Base Price:
            <InputNumber id="base-price" @bind-Value="itemModel.Base" />
        </label>
    </p>
    <p>
        <label for="max-durability">
            Total Price:
            <InputNumber id="total-price" @bind-Value="itemModel.Total" />
        </label>
    </p>
     <p>
        <label for="max-durability">
            Sell Price:
            <InputNumber id="sell-durability" @bind-Value="itemModel.Sell" />
        </label>
    </p>
   
    <p>
        <label>
            Item image:
            <InputFile OnChange="@LoadImage" accept=".png" />
        </label>
    </p>
     <p>
        <label>
            Tags :
            <label>
                @foreach (var item in itemModel.Tags)
                {             
                    <text>@item</text>            
                }
                <InputText id="tag" @bind-Value="TagContent" />
                <button @onclick="ajoutTag"></button>
            </label>
        </label> 
    </p>

    <p>
        <label>
            Prushsable :
            <label>
                <input type="checkbox" @bind-value="itemModel.Purchasable" />
            </label>
        </label> 
    </p>

    <button type="submit">Submit</button>
</EditForm>