@page "/"
@using System.Globalization
@using LolExplorer.Modele

<PageTitle>@Localizer["TitleIndex"]</PageTitle>

<h2>@Localizer["LangueIndex"]</h2>

<p>
    <b>@Localizer["PresentationIndex"]</b>
</p>

