@page "/inventory"
@inherits Crafting
@using LolExplorer.Components

<h3>Inventory</h3>
<CascadingValue Value="@this">
   <div class="container">
        <div class="row">

            <div class="container col">
                <div class="row">
                    @for (int i = 0; i < RecipeItems.Count; i++)
                    {
                        <div class="col">
                            <LolExplorer.Components.CraftingItem Item=RecipeItems[i] Index=i />
                        </div>
                    }
                </div>
            </div>


            <div class="col">
                    <Inventory Items="Items" LimitedList="true" ResearcheBar="false" />
            </div>

        </div>
    </div>
</CascadingValue>
