@inherits LayoutComponentBase

<PageTitle>LolExplorer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main">
        <article class="content px-4">
            @Body
        </article>
@*        <div style="height:400px;"></div>
*@      
        
    </main>
    <footer>
        <Footer />
    </footer>
</div>
