<header>
    <nav class="navbar sticky-top  navbar-dark navbar-expand-lg myNav "  >
        <a class="navbar-brand title" href="/">LolExplorer </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ">
            <div class="navbar-nav ml-auto" >
                <a class="nav-item nav-link" href="#" style=" cursor: default;"></a>
                <div class="nav-item px-3">
                    <a class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </a>
                </div>

                <div class="nav-item px-3">
                    <a class="nav-link" href="listitems" Match="NavLinkMatch.All">
                        <span class="oi oi-plus" aria-hidden="true"></span> ListeItem
                    </a>
                </div>
      
                <div class="nav-item px-3">
                    <a class="nav-link" href="crafting"Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Crafting
                    </a>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="inventory" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Inventory
                    </a>
                </div>

                <div class="nav-item px-3">
                    <a class="nav-link" href="logs" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Logs
                    </a>
                </div>

                
            
            </div>  
            <div >
                <CultureSelector />
            </div>
        </div>
    
    </nav>
</header>