<div class="simple-form" >

    <p>
        @Localizer["ModalMessage"] @item.Name ?
    </p>

    <button @onclick="ConfirmDelete" class="btn btn-primary">@Localizer["Delete"]</button>

    <button @onclick="Cancel" class="btn btn-secondary">@Localizer["Cancel"]</button>
</div>