.css-grid {
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-column-gap: 160px;
    display: grid;
    width: 286px;
}

.css-recipe {
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-column-gap: 160px;
    display: grid;
    width: 212px;
}

.actions {
    border: 1px solid black;
    height: 250px;
    overflow: scroll;
}
