@using LolExplorer.Modele;
@if (ResearcheBar)
{
    <input style="margin-bottom:5px;" class="form-control mr-sm-2" type="search" placeholder="Search" @bind-value="SearchTerm" @bind-value:event="oninput" />
}



@if (LimitedList)
{
    <div >
        
        <DataGrid TItem="ItemApi"
              Data="@Items"
                  Filterable
                  ShowPager
                  PageSize="10"
                  Responsive
                  Style="color:#fff;"
                  >
            <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Name)" Caption="Nom">
                <DisplayTemplate>
                    <CraftingItem Item=@(context) NoDrop="true" />
                </DisplayTemplate>
            </DataGridColumn>
        </DataGrid>
    </div>

    
        
}
else{
    <div class="css-grid">
        @foreach (var item in ItemsSearched )
        {
            @if(item != null)
            {
                 <CraftingItem Item="item" NoDrop="true" />
            }
           
        }
    </div>
}